@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   :root {
    --primary: #272A31;
    --secondary: #EC5242;
    --third: #d3d3d3;
    --error: #ce0606;
    --success: #009070;
    --white: #ffffff;
   }
   body {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
   }

   .home-wrapper{
    background: url(/assets/images/mobile-bg.png);
   }

   header,
   .home{
    padding-left: 20px;
    padding-right: 20px;
   }

   header{
    display: block;
    padding-top: 3rem;
    min-height: 6rem;
    border-bottom: 2px solid #ce0606;
   }

   header .nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
   }

   .closeIcon{
    background-color: red;
    display: none;
   }

   header .nav .menu{
    display: flex;
    list-style: none;
    display: none;
   }

   header .nav .menu .menu-item{
    margin-right: .5rem;
   }

   .home h2, .home h1{
    color: var(--secondary);
   }
    .home{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .home h2{
        font-weight: 700;
        font-size: 32px;
    }
    .home h1{
        font-size: 52px;
        font-weight: 900;
        letter-spacing: 0.2rem;
        margin: 1rem;
        background-image: url(./../assets/images/egr-title-background3.jpg);
        background-size: 100% 100%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    .home .primary-text{
        margin: 2rem auto;
        border: 3px solid #ffffff;
        background: #fdfbfb;
        padding: 1rem;
        line-height: 1.5rem;
        font-size: 1.2rem;
        color: var(--primary);
    }

    .date-place {
        margin: 3rem auto;
    }
    .date-place .event-date{
        color: var(--primary);
        font-weight: 800;
        font-size: 40px;
    }

    .date-place .event-place{
        margin: 2rem auto;
        font-size: large;
        color: var(--primary);
    }

    .program-section{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 4rem 20px;
        background: #111 url('./../assets/images/main-bg.png') repeat;
    }

    .main-program{
        color: var(--white);
        font-weight: 800;
        line-height: 2rem;
        font-size: 2.5rem;
        text-align: center;
    }

   .line{
        width: 5rem;
        height: 3px;
        background-color: var(--secondary);
        margin: 1.5rem auto;
    }

    .program{
        padding: 3%;
        display: flex;
        gap:2%;
        background: var(--primary);
        opacity: 0.7;
        background: #272a31;
        border: 1px solid #272a31;
    }

    .program .program-type{
        display: flex;
        gap:2%;
        color: var(--secondary);
        align-items: center;
    }

    .program .program-type .program-title{
        font-size: 1.3rem;
    }

    .program .program-description{
        color: var(--third);
        font-weight: normal;
        font-size: 1rem;
    }

    .join-us{
        width: 85%;
        height: 8rem;
        background: var(--secondary);
        color: var(--white);
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem auto;
    }

    .join-us h2{
        
        text-align: center;
    }

    /*featured athlets*/
    .featured-athlets-section{
        padding:10% 3%;
        background: var(--white);
    }
    .featured-athlets{
        color: var(--primary);
        font-size: 21px;
    }

    .photo-frame {
        height: 70px;
        width: 60px;
      }
      
      .runner-img {
        position: relative;
        margin-top: -55px;
        left: 13px;
        height: 150px;
        width: 150px;
        object-fit: cover;
      }

    .athelet{
        padding-top: 3rem;
        display: flex;
        gap:1.3rem;
        position: relative;
    }

    .profile-pic{
        width:150px;
        height:150px;
    }

    .athelet .athlet-info{
        margin-bottom: 0.5rem;
    }

    .athelet .athlet-info h2{
        font-size: 21px;
    }
    .athelet .athlet-info .profile{
        color: var(--secondary);
        margin: 0.5rem auto;
        font-size: 1rem;
    }

    .line-2{
        width: 2rem;
        height: 3px;
        background: grey;
        margin: 6px auto;
        float: left;
    }

    .athelet .athlet-info .acheivemnts{
        clear: both;
        font-size: 1rem;
    }

    .see-more{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        gap:1rem;
        text-align: center;
        padding: 1rem;
        width:100%;
        background: var(--white);
        border: 2px solid #d3d3d3

    }